# Ignore all .mat files except golden files
*.mat
!tests/goldenfiles/*.mat
!goldenfiles/*.mat
!2D_MATLAB/goldenfiles/*.mat

# System files
.DS_Store

# MATLAB temporary files
*.asv
*.m~

.cursor/
.cursorrules
.rubies
Manifest.toml
*/Manifest.toml
**/Manifest.toml